body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a1f44;
  color: #00ffff;
}

/* Layout */
header {
  text-align: center;
  padding: 20px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Card Sections */
.card {
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #112b5c;
}

/* Links */
a {
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Form Inputs */
input,
select {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin: 8px 0;
  border: 2px solid #00ffff;
  border-radius: 6px;
  background-color: #0a1f44;
  color: #00ffff;
  box-sizing: border-box;
}

/* Buttons */
button {
  padding: 10px 15px;
  margin-top: 8px;
   border: 2px solid #00ffff;
  border-radius: 6px;
  background-color: #808080;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #999999;
}

/* Lists */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Text Output */
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Code & Output Box */
code,
pre {
  background-color: #000000;
  color: #00ffff;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}